/* Shared Styles */

.container {
  width: 87.2%;
  margin-inline: auto;
}

.logo {
  width: 143px;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Media Queries */
@media screen and (min-width: 500px) {
  .container {
    width: 89.71354%;
  }
}

@media screen and (min-width: 900px) {
  .container {
    width: min(89.71354%, 1108px);
  }
}
